<center><h1><%= @merchant.name %> Discounts</h1></center>
<div class="bulk_discounts">
<div class="table-container">
<table class="table-style">
  <thead>
    <tr>
      <th>Discounts</th>
    </tr>
  </thead>
  <tbody>
   <% @discounts.each do |discount| %>
      <tr>
        <td><%= link_to "#{discount.percentage}% off #{discount.quantity} items", merchant_discount_path(@merchant, discount.id), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

